.wrapper {
  width: 400px;
  margin: 0 auto;
  margin-top: 26px;
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  padding: 26px;
  box-shadow: 1px 7px 42px -9px rgba(91, 183, 214, 0.227);
  form {
    display: flex;
    flex-direction: column;

    .button-group {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 12px;
      button {
        font-size: 18px;
        cursor: pointer;
        padding: 8px 16px;
        color: white;
        background-color: #5bb7d6;
        border: 0px;
        border-radius: 4px;
        &:disabled {
            background-color: #5bb7d67b;
        }
        &.secondary {
            background-color: rgb(225, 225, 225);
            color: gray;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
    :host {
        padding: 8px;
    }
    .wrapper {
        width: 100%;
        box-sizing: border-box;
    }
  }

